html,
body {
  padding: 0;
  margin: 0;
}

.App {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

.split-pane-col {
  display: flex;
  flex-direction: column;
}

.split-pane-row {
  display: flex;
  flex-direction: row;
}

.split-pane-top,
.split-pane-bottom,
.split-pane-right,
.split-pane-left {
  flex: 1;
}

.split-pane-top,
.split-pane-bottom {
  padding: 10px;
}

.separator {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  transition: all .5s;
}

.col{
  cursor: col-resize;
}
.col:hover {
  background-color: lightblue;
  border: 2px solid lightblue; 
}

.row{
  border: 1px solid transparent;
  cursor: row-resize;
}
.row:hover {
  border: 2px solid lightblue;
  background-color: lightblue;
}
